<div class="nested-fields">
  <!-- Text input-->
  <div class="form-group">
    <%= f.label :instituição, class:"col-md-4 control-label" %>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-institution"></i></span>
          <%= f.text_field :name_instituition_comp, class:"form-control", placeholder:"Nome da Instituição" %>
      </div>
    </div>
  </div><br/><br/>
  <!-- Text input-->
  <div class="form-group">
    <%= f.label :curso, class:"col-md-4 control-label" %>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa  fa-gamepad"></i></span>
          <%= f.text_field :course_comp, class:"form-control", placeholder:"Nome do Curso" %>
      </div>
    </div>
  </div><br/><br/>
  <!-- Text input-->
  <div class="form-group">
    <%= f.label :carga_horária, class:"col-md-4 control-label" %>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-hourglass"></i></span>
          <%= f.text_field :workload, class:"form-control", placeholder:"150hrs" %>
      </div>
    </div>
  </div>

  <div class="input-group-btn">
    <%= link_to_remove_association f, :class => "btn btn-warning"  do %>
        <i class="fa fa-times"></i>
    <% end %>
  </div>

</div>
